/*GENERAL*/
body {
    background-color: rgb(240, 58, 58);
    height: auto;
    width: auto;
}
/*-*/
header, nav, aside, article, footer {
    display: flex;
}
/*-*/
/*-*/
/*-*/
/*CABECERA*/
header {
    flex-direction: column;
}
/*-*/
header h1 {
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(255, 217, 0);
    font-family: 'Times New Roman';
    font-size: 3em;
    margin-left: 15em;
    margin-right: 15em;
    padding: 1em;
    text-align: center;
    -webkit-text-stroke: 2.5px rgb(0, 27, 177);
}
/*-*/
header form {
    margin: -1.5em auto auto auto;
}
/*-*/
header form label input {
    padding-top: 0.2em;
}
/*-*/
header form button {
    margin-left: -0.35em;
    margin-top: 0.15em;
}
/*-*/
header form button img {
    height: 1.1em;
    width: 1.1em;
}
/*-*/
/*-*/
/*-*/
/*NAVEGATOR*/
nav {
    margin: 0 auto;
}
/*-*/
nav ul {
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
}
/*-*/
nav ul li {
    background-color: rgb(236, 7, 7);
    border: 2.5px solid black;
    list-style-type: none;
    padding: 1em 5em 1em 5em;
}
/*-*/
nav ul li:hover {
    background-color: rgb(235, 82, 82);
    color: yellow;
    -webkit-text-stroke:rgb(0, 27, 177) 1px;
}
/*-*/
/*-*/
/*-*/
/*ARTICULO PRINCIPAL*/
article {
    background-color: white;
}
/*-*/
article p {
    text-align: center;
}
/*-*/
article ul {
    display: inline-flex;
    flex-direction: row;
    margin: 0 auto;
}
/*-*/
article ul li {
    background-color: beige;
    border: 1px solid black;
    list-style-type: none;
    padding: 1em 5em 1em 5em;
}
/*-*/
article img {
    display: inline-flex;
    flex-direction: row;
    height: 100em;
    margin-left: 24.9em;
    margin-top: -3.255em;
    width: 67.1em;
}
/*-*/
/*-*/
/*-*/
/*MENÚ SEDUNCARIO*/
aside {
    background-color: beige;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin-right: 89.5em;
    padding-right: 24.8em;
}
/*-*/
aside p {
    margin-right: -19em;
    padding-right: 10em;
}